<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gestão de Salas</title>
</head>
<body>
  <header><h1>Gestão de Salas</h1></header>
  <main>
    <%- include(content) %> <!-- Vai incluir views/salas.ejs -->
  </main>
  <footer><p>Rodapé da aplicação</p></footer>
</body>
</html>
